<ion-header [translucent]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="../../../assets/images/logo-default-450x37_2.PNG" style="display:inline-block" height="40px"/>          
      </ion-col>
      <ion-col>
        <ion-title class="headerTitle">Home</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-segment [(ngModel)]="selectedTab">
    <ion-segment-button value="mapview">
      <ion-label>Map</ion-label>
    </ion-segment-button>
    <ion-segment-button value="listview">
      <ion-label>List</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectedTab == 'mapview'">
    <ion-img
    src="../../../assets/images/map.PNG"
    alt="Sampling map"
    ></ion-img>
    <div class=" card-body"><div class=" map" id="map"></div></div>
  </div>

  <div *ngIf="selectedTab == 'listview'">
    <div class="ion-padding">
      
      
      <ion-card color="secondary" *ngFor="let item of data" [routerLink]="['/details']"> <!-- (click)="onSelectedBeach(item.beachId) -->
        <div class="mask">
          <img src="assets/wave2.png">
        </div>
        <ion-card-content>
          <ion-row>
            <ion-col size="8">
              <ion-card-subtitle class="no">{{item.timeCollectedMsg}}</ion-card-subtitle>
              <ion-card-title>{{item.beachName}}</ion-card-title>
              <ion-card-subtitle>
                <ion-badge>
                  <ion-icon [color]="this.getColor(item.safeValue)" name="radio-button-on-outline"></ion-icon>
                  <ion-text>{{item.safeMessage}}</ion-text>
                </ion-badge>
              </ion-card-subtitle>
            </ion-col>
            <ion-col size="4">
  
              <ion-grid>
                <ion-row>
                  <ion-col>
  
                    <div class="displayer">
                      <div class="progress" [ngClass]="this.getClass(item.safeValue)" [ngStyle]="this.getStyle(item.safeValue)">
                        <h3>{{item.safeValue}}<span>%</span></h3>
                        <!-- <h4>Safe</h4> -->
                      </div>
                    </div>
                   
                  </ion-col>
                </ion-row>
              </ion-grid>
            
  
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
  
  
    </div>
  
  </div>

</ion-content>

<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->